html, body {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f3f0f0;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.row {
    display: flex;
}

.field {
    display: flex;
    width: 20em;
    height: 40em;
    flex-wrap: wrap;
    border: 1px solid #888;
    position: relative;
    margin-right: 2em;
    background-color: #f0f0f0;
}

.next {
    display: flex;
    width: 8em;
    height: 8em;
    flex-wrap: wrap;
    border: 1px solid #888;
    position: relative;
    background-color: #f0f0f0;
}

.cell {
    width: 2em;
    height: 2em;
    box-sizing: border-box;

    /**/
    font-family: monospace;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;

    /* border-radius: 15%; */
    background-color: #fff;

}

.cell.cell-on {
    background-color: #555;
    background-image: linear-gradient(315deg, #55555533 0%, #555555ff 100%);
}

.cell.cell-on-0 {
    background-color: #555;
    background-image: linear-gradient(315deg, #55555533 0%, #555555ff 100%);
}

/* red  */
.cell.cell-on-1 {
    background-color: #d1151d;
    background: linear-gradient(135deg, #d1151d80 0%, #d1151dff 100%);
}

/* orange  */
.cell.cell-on-2 {
    background-color: #ef691c;
    background: linear-gradient(135deg, #ef691c80 0%, #ef691cff 100%);
}

/* yellow  */
.cell.cell-on-3 {
    background-color: #f4ba29;
    background: linear-gradient(135deg, #f4ba2980 0%, #f4ba29ff 100%);
}

/* green  */
.cell.cell-on-4 {
    background-color: #66b520;
    background: linear-gradient(135deg, #66b52080 0%, #66b520ff 100%);
}



/* blue  */
.cell.cell-on-5 {
    background-color: #379adc;
    background: linear-gradient(135deg, #379adc80 0%, #379adcff 100%);
}

/* indigo  */
.cell.cell-on-6 {
    background-color: #1c4fb8;
    background: linear-gradient(135deg, #1c4fb880 0%, #1c4fb8ff 100%);
}

/* purple  */
.cell.cell-on-7 {
    background-color: #822285;
    background: linear-gradient(135deg, #82228580 0%, #822285ff 100%);
}

.cell.cell-on-1::before,
.cell.cell-on-2::before,
.cell.cell-on-3::before,
.cell.cell-on-4::before,
.cell.cell-on-5::before,
.cell.cell-on-6::before,
.cell.cell-on-7::before {
    content: "";
    width: calc(2em - 1px);
    height: calc(2em - 1px);
    border: 2px solid #555;
    box-sizing: border-box;
}

.panel {
    margin-top: 4em;
    font-family: monospace;
}