html, body {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f3f0f0;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.row {
    display: flex;
}

.field {
    display: flex;
    width: 40vmin;
    height: 80vmin;
    flex-wrap: wrap;
    border: 2px solid #888;
    position: relative;
    margin-right: 4vmin;
    background-color: #f0f0f0;
}

.next {
    display: flex;
    width: 16vmin;
    height: 16vmin;
    flex-wrap: wrap;
    border: 2px solid #888;
    position: relative;
    background-color: #f0f0f0;
}

.cell {
    width: 4vmin;
    height: 4vmin;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f0f0;
    background-color: #fff;

}

.cell.cell-on-0 {
    background-color: #555;
}

/* red  */
.cell.cell-on-1 {
    background-color: #e44a37;
}

/* orange  */
.cell.cell-on-2 {
    background-color: #ff8021;
}

/* yellow  */
.cell.cell-on-3 {
    background-color: #f4ba29;
}

/* green  */
.cell.cell-on-4 {
    background-color: #64ae1f;
}

/* blue  */
.cell.cell-on-5 {
    background-color: #1c4fb8;
}

/* indigo  */
.cell.cell-on-6 {
    background-color: #379adc;
}

/* purple  */
.cell.cell-on-7 {
    background-color: #822285;
}

.cell.cell-on-1::before,
.cell.cell-on-2::before,
.cell.cell-on-3::before,
.cell.cell-on-4::before,
.cell.cell-on-5::before,
.cell.cell-on-6::before,
.cell.cell-on-7::before {
    content: "";
    width: calc(4vmin - 1px);
    height: calc(4vmin - 1px);
    border: 2px solid #1d1e1b;
    box-sizing: border-box;
}

.cell.cell-ghost-1::before,
.cell.cell-ghost-2::before,
.cell.cell-ghost-3::before,
.cell.cell-ghost-4::before,
.cell.cell-ghost-5::before,
.cell.cell-ghost-6::before,
.cell.cell-ghost-7::before {
    content: "";
    width: calc(4vmin - 1px);
    height: calc(4vmin - 1px);
    border: 2px dashed #1d1e1b;
    box-sizing: border-box;
}

.panel {
    margin-top: 8vmin;
    font-family: monospace;
}